@using System.Globalization
@using System.Text
@using IkSound.Models.Epidemic

@* TODO: Start resizing and hiding elements based on screen size *@

<div class="song-container song-height w-100 d-grid m-2 fade-in gap-2">
    <div class="d-flex gap-2 align-items-center song-height overflow-hidden">
        <img class="song-height" src="@(Song.CoverArt.BaseUrl + Song.CoverArt.Sizes.XS)" alt="@Song.Title"/>
        <a class="text-truncate fs-6 text-body text-decoration-none">@Song.Title</a>
    </div>
    
    <div class="align-content-center song-height">
        @* <audio class="w-100" controls src="@Song.Stems["full"].LqMp3Url"></audio> *@
        <Waveform WaveformUrl="@Song.Stems["full"].WaveformUrl"></Waveform>
    </div>

    <div class="text-body-tertiary align-content-center">
        <span class="fs-7">@(Song.Length / 60):@((Song.Length % 60).ToString("D2"))</span>
    </div>
    
    <div class="text-body-tertiary align-content-center overflow-hidden">
        <span class="text-truncate w-100 fs-7 d-block">@GetGenres()</span>
        <span class="text-truncate w-100 fs-7 d-block">@GetTags()</span>
    </div>
    
    <div class="text-body-tertiary align-content-center d-flex flex-row gap-3">
        <button class="h-100 empty-btn" onclick="navigator.clipboard.writeText('https://www.epidemicsound.com/track/@Song.PublicSlug');"><i class="bi bi-link-45deg fs-4"></i></button>
        <a class="h-100 empty-btn" href="@("https://corsproxy.io/?" + Song.Stems["full"].LqMp3Url)" download="@(Song.Title)" onclick="event.preventDefault(); window.download(this.href, this.download);"><i class="bi bi-download fs-5"></i></a>
    </div>
</div>

@code {
    [Parameter] public Song Song { get; set; } = null!;
    
    string GetGenres()
    {
        return string.Join(", ", Song.Genres);
    }
    
    string GetTags()
    {
        return Song.IsSfx ? 
            string.Join(", ", Song.MetadataTags.Take(2).Select(str => CultureInfo.CurrentCulture.TextInfo.ToTitleCase(str))) : 
            string.Join(", ", Song.Moods);
    }
}